{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="" 
{% endblock %}
{% block title %}
    user login
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
      
        <form method="post" action="" class="col-md-4 bg-dark mt-2 mx-auto">
         
             <!-- {{form}} -->
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-text mb-2">رمز عبور جدید :</label>
            <input type="password" class="form-control" dir="ltr" placeholder="password" name="new_password1" id="new_password1" >
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-text mb-2">تکرار رمز عبور جدید :</label>
                <input type="password" class="form-control" dir="ltr" placeholder="new_password" name="new_password2" id="new_password2" >
                </div>
           
            {% csrf_token %}
                
                    <div class="mx-auto m-2 col-md-12 text-center" >
                     <button type="submit"  class="col-md-12 btn btn-secondary mb-2">تایید</button>
                  
                    
                 
                  
                
                  
           
        </form>
    </div>

    </div>
{% endblock %}

{% block script %}

<script src="/static/accounts/js/accountsjs.js"></script>

{% endblock %}