{% extends 'base.html' %}

{% block title %}
    category
{% endblock %}

  
  
{% block body %}

<div class="container">
    <div class="row">
<form action="" method="post" enctype="multipart/form-data" class="col-md-4 bg-dark mt-3 mx-auto">
    <input class="form-control mt-2" type="file" name="national_card">
    <input class="form-control mt-2" type="file" id="filebu" name="business_license">
    <input class="form-control mt-2 " type="text" name="namecompany">
    <div class="mx-auto text-center">
    <input value=" حذف" type="submit" class="btn btn-primary col-md-5 mt-2" onclick="btnshow(this)" >
    <input value=" تایید" type="submit" class="btn btn-primary col-md-5 mt-2"   >
</div>

    {% csrf_token %}

</form>
    </div>
</div>
{% endblock %}




{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/static/accounts/js/company.js"></script>
{% endblock %}