{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css'%}" >
{% endblock %}
{% block title %}
    user login
{% endblock %}
{% block body %}

      

        <div class="box" id="box-form">
            <h1>ورود</h1>
            <form accept="" method="post">
                <div class="inputbox"  >
                    <input dir="ltr"  name="username" id="username"  type="text" required  >
                    <label  for="">username, email, phone</label>
                </div>
                {% csrf_token %}
                
                <div class="inputbox">
                    <input dir="ltr" name="password" id="password" type="password" required>
                    <label for="">password</label>
                </div>
                <div class="check" style="width: 100%;">
                    <input  id="check" value="0"  onchange="checkbox()" class="form-check-input mt-1 mb-2" type="checkbox" value="0" id="flexCheckDefault">
                    <label class="form-text " >show password</label>
                </div>
            <div class="check" style="width: 100%; height: auto;">
                    <input type="submit" value="ورود">
                    <a onclick="register()" class="mt-1 btn btn-primary " >ثبت نام</a>

            </div>
          
            </form>
        </div>
{% endblock %}

{% block script %}




<script src="/static/accounts/js/login.js">

   
</script>
<script>
 
    
        
    
</script>

   


{% endblock %}

