{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="" >
{% endblock %}
{% block title %}
    user register
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
      <p id="message" class="alert alert-primary" hidden></p>
        <form method="post" action="" class="col-md-4 bg-dark mt-2 mx-auto" novalidate>

            <div class="mb-3">
                <div for="exampleInputEmail1"class="form-text mb-2">ایمیل:</div>
                <input   onchange="ch()" type="email" placeholder="example.gmail.com" dir="ltr" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                {% for err in form.errors %}
                    {% if err == 'email'%}
                        <p class="form-text mb-2">ایمیل مشکل دارد یا وارد نشده است</p>
                    {% endif %}
                {% endfor %}

                <div id="emailHelp" class="form-text">ایمیل شما باید یگانه باشد </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-text mb-2">شماره تماس:</label>
                <input onchange="phonechanche()" type="text" class="form-control " dir="ltr" placeholder="09121234567" name="phone" id="phone">
                <div id="phonehelp" class="form-text">شماره تلفن را به صورت که در کادر راهنمایی شده وارد نمایید</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-text mb-2">نام کاربری :</label>
                <input onchange="usernamechange()" type="text" class="form-control" dir="ltr" placeholder="username" name="username" id="username">
                <div id="usernamehelp" class="form-text">نام کاربری باید متشکل از 5 حرف لاتین باشد </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-text mb-2">رمز عبور:</label>
                <input type="password" class="form-control" dir="ltr" placeholder="رمز باید 8 رقم باشد" name="password1" id="password">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-text mb-2">تایید رمز عبور:</label>
                <input onchange="password2change()" type="password" class="form-control" dir="ltr" placeholder="رمز باید 8 رقم باشد" name="password2" id="password2">
                <div id="passwordhelp" class="form-text"></div>

                {% for err in form.errors %}
                {% if err == 'password2'%}
                <p class="form-text mb-2"> رمز ها مطابقت ندارند یا کمتر از 8 رقم می باشند</p>
            {% endif %}
            {% endfor %}
            <div class="form-check" dir="ltr">
                <input  id="check" value="0"  onchange="checkbox()" class="form-check-input mt-1" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-text " >show password</label>
            </div>
             </div>
            {% csrf_token %}
                
                    <div class="mx-auto m-2 col-md-12 text-center" >
                     <input onclick="sighon(this)" data-type="phone" type="button"  class="col-md-5 btn btn-secondary mb-2" value="ثبت نام با شماره تلفن"> 
                     <input  type="button" onclick="sighon(this)"  data-type="gmail" class="col-md-5 btn btn-secondary mb-2" value=" ثبت نام با ایمیل"> 

                  
                    <a class="col-md-5 btn btn-light" href="#">پاک کردن</a>
                 
                  
                    <a class="col-md-5 btn btn-light" href="#">بازگشت</a>
                  
           
            </div>
            
        </form>
    </div>

    </div>

{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/accounts/js/register.js" ></script>

{% endblock %}
