{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="" >
{% endblock %}
{% block title %}
    user login
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
      
        <form onreset="formload()" method="post" action="" class="col-md-4 bg-dark mt-2 mx-auto">
         
        
            
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-text mb-2">ایمیل یا نام کاربری :</label>
                <input   type="text" class="form-control" dir="ltr" placeholder="example@gmail.com or 09121234567" name="username" id="username">
            </div>
            <div class="mb-3">
                <label  for="exampleInputPassword1" class="form-text mb-2">رمز عبور :</label>
                <input onkeydown="enterpass()" type="password" class="form-control" dir="ltr" placeholder="******" name="password" id="password">
            </div>
            <div class="form-check" dir="ltr">
                <input  id="check" value="0"  onchange="checkbox()" class="form-check-input mt-1" type="checkbox" value="0" id="flexCheckDefault">
                <label class="form-text " >show password</label>
            </div>
          
              
           
            {% csrf_token %}
                
                    <div class="mx-auto m-2 col-md-12 text-center" >
                     <button type="submit"  class="col-md-12 btn btn-secondary mb-2">ورود</button>
                  
                    
                 
                  
                    <button id="delete" onclick="delete1()" class="col-md-12 btn mb-2 btn-light" href="#">حذف </button>
                    
                    <a id="reset"   class="col-md-12 btn btn-light" href="{% url 'accounts:passwordreset' %}">بازیابی رمز عبور</a>
                  
           
        </form>
    </div>

    </div>
{% endblock %}

{% block script %}

<script src="/static/accounts/js/login.js">

   
</script>

<script>
    

</script>

{% endblock %}